

    <form class="form-horizontal">
      <fieldset>

      <!-- Form Name -->
      <legend><%= title %></legend>

      <% for (var i = 0; i < label.length; i++) { %>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textinput">
            <%= label[i] %>
          </label>
          <div class="col-md-6">
            <input id="textinput" name="textinput" type="text" class="form-control"

            <% if (value[i] != ""){ %>
              placeholder= <%= value[i] %>
            <%  } %>

            >
            <p class="help-block">
              <%= desc[i] %>
            </p>
          </div>
        </div>
      <% } %>

      </fieldset>
    </form>
